.theme-selector {
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
  max-width: 1200px;
  padding: 25px;

  .mode-toggle {
    margin-right: auto;
    text-align: right;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
}